<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <!-- 39 -->
      <%= link_to post.title, topic_post_path(@topic, post) %>
    </h4>
    <!-- 40 -->
    <small>
      submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> <br>
      <%= post.comments.count %> Comments
    </small>
  </div>
</div>
